<!DOCTYPE html>
<html lang="en">
    <head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/assets/css/fullcalendar_style.css" type="text/css" />
		<title>Testing FullCalendar</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link href='/assets/fullcalendar_lib/main.css' rel='stylesheet' />
		<script src='/assets/fullcalendar_lib/main.js'></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>