<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <!-- External Stylesheets -->
  <link href="./stylesheets/style.css" rel="stylesheet">
  <link href="./stylesheets/fullcalendar_style.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Full Calendar -->
  <link href='/assets/fullcalendar_lib/main.css' rel='stylesheet' />
  <script src='/assets/fullcalendar_lib/main.js'></script>

  <title>Spas For Paws | Appointment Calendar</title>

</head>

<body>
  <div class="container" id="navBar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand"><img src="images/edited-header-logo.png" width="200px"
          alt="Spas for Paws Business Logo"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <!-- Toggle button with links to Member Home and Logout/Home Pages when webpage is viewed on smaller viewports on mobile devices. -->
      <nav class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/members">
              <h5 class="nav-button">Home</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <h5 class="nav-button">Logout</h5>
            </a>
          </li>
        </ul>
      </nav>
    </nav>
  </div>
  {{{ body }}}

  <div class="modal" id="msgModal">
    <div class="modal-background">
      <div class="modal-card">
        <div class="modal-card-head">
          <h2 class="modal-card-title">Spas For Paws</h2>
        </div>
        <div class="modal-card-body">
          <p id="errorMessage"></p>
        </div>
        <div class="modal-card-foot">
          <button type="button" id="close" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>
<footer>
  <div class="card">
    <div class="col" id="copyright"> <strong>&#169; Copyright 2021 Spas4Paws</strong></div>
  </div>
</footer>

</html>