<div class="container-fluid">

  <div id='wrap'>
    <div id='pet-services'>
      <h4>Pet Grooming Services</h4>
      <div id='pet-services-list'>
        {{#each dataIn}}
        <div class='fc-h-event fc-daygrid-event fc-daygrid-block-event'>
          <div class='fc-event-main fc-event '>{{this.title}}</div>
          <div class="card">
            <div class="card-body">
              <div class="card-text evDesc ">{{this.description}}</div>
              <div class="animal" hidden>{{this.animal}}</div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div id='calendar-wrap'>
      <div class="row col-12">
        <div class="card">
          <div class="card-body">
            You can make your appointments below
          </div>
        </div>
      </div>
      <div id='calendar'></div>
    </div>
  </div>


  <script src="/js/myfullcalendar.js"></script>