body {
  min-height: 100vh;
  margin: 0px;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

/* .container-fluid {
  margin-top: 20px;
  margin-bottom: 30px;
} */

/* Styling for Pet Grooming Services Options */
#pet-services {
  /* padding: 0 10px; */
  border: 1px solid #000000 !important;
  background: #ffffff;
  text-align: left;
  overflow-y: scroll;
  max-height: 700px;
  margin-bottom: 30px;
}

#pet-services h4 {
  font-size: 25px;
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: bold;
  margin-top: 0;
  padding-top: 1em;
}

#pet-services .fc-event {
  margin: 3px 0;
  cursor: move;
  background-color: #ffbd59 !important;
  color: #000000 !important;
}

#pet-services p {
  margin: 1.5em 0;
  font-size: 11px;
}

#pet-services p input {
  margin: 0;
  vertical-align: middle;
}

#pet-services .fc-daygrid-block-event {
  background-color: #ffbd59 !important;
  border: none !important;
}

/* #calendar-wrap {
  margin-left: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#calendar {
  max-width: 1100px;
  margin: 0 auto;
} */

div.rightalign {
  text-align: right;
}

.card {
  max-width: 100%;
  border: none;
}

.card-body {
  padding: 5px;
  text-align: center;
}

.card-body {
  padding: 5px;
}

.card-text {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fc-event-main {
  text-align: center;
  font-size: 15px;
  font-family: "Pathway Gothic One", sans-serif;
  max-width: 100%;
  word-wrap: break-word;
}
.fc-event-time {
  text-align: center;
  font-size: 12px;
  font-family: "Pathway Gothic One", sans-serif;
  max-width: 100%;
  word-wrap: break-word;
}

.fc-h-event {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* .col-6 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: none;
} */

.appointmentImage {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fc-view {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 20px !important;
}

.fc-button-primary {
  background-color: #ffbd59 !important;
  color: #000000 !important;
  font-family: "Pathway Gothic One", sans-serif !important;
  font-size: 15px !important;
}

.fc-col-header-cell-cushion {
  color: #000000 !important;
  text-decoration: none !important;
}

.fc-toolbar-title {
  font-size: 35px !important;
}

.fc-event-time,
.fc-sticky,
.fc-event-title-container,
.fc-event-main {
  color: #000000 !important;
  background-color: #ffbd59 !important;
  border: none !important;
}

.fc-event-time {
  display: none;
}

.fc-list-day-text,
.fc-list-day-side-text {
  color: #000000;
  text-decoration: none;
}

.modal-card-head,
.modal-card-foot {
  background-color: #ffbd59;
}

#dog-services,
#cat-services,
#rabbit-services {
  display: none;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  width: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 18px;
  background-color: #ffbd59;
  border-color: #000000;
  color: #000000;
  margin-bottom: 1em;
}
