.services-header {
  text-align: center;
  font-size: 40px;
  font-family: "Pathway Gothic One", sans-serif;
}

.services-text {
  text-align: center;
  font-size: 25px;
  font-family: "Pathway Gothic One", sans-serif;
}

.services-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navBar {
  background-color: #FFBD59;
}

.card-header {
  text-align: center;
  font-size: 40px;
  font-family: "Pathway Gothic One", sans-serif;
}

.logoImageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#copyright {
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
}