/* Styling for Navigation Bar */
.navbar-light {
  background-color: #ffbd59;
}

.navbar-brand {
  margin-left: 10px;
}

.nav-button {
  color: black;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 30px;
}

h5 {
  color: #000000;
}

/* Styling for Index/Home and Members Pages */
.card-header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Pathway Gothic One", sans-serif;
  padding: 0px;
  background-color: #ffffff;
  border: none;
}

.card-welcome {
  border: none;
}

.services-header {
  text-align: center;
  font-size: 40px;
  font-family: "Pathway Gothic One", sans-serif;
}

.services-text {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: "Pathway Gothic One", sans-serif;
}

.logoImageCenter,
.services-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.btn-primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mainDescription {
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 25px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #000000;
  font-family: "Pathway Gothic One", sans-serif !important;
  font-size: 25px !important;
  background-color: #ffbd59 !important;
  border-color: #ffbd59 !important;
}

#book {
  color: black;
  font-family: "Pathway Gothic One", sans-serif;
  text-decoration: none;
}

/* Styling for Registration and Login Pages */
.col-md-offset-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 40px;
}

.form-group {
  margin: 30px;
}

#firstname-input,
#lastname-input,
#email-input,
#password-input {
  font-family: "Pathway Gothic One", sans-serif;
}

#registration-labels,
.account {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 20px;
}

.card-registration,
.card-login {
  border: none;
  margin-top: 20px;
}

.account {
  text-align: center;
}

/* Styling for Footer */
#copyright {
  text-align: center;
  font-family: "Pathway Gothic One", sans-serif;
}

.card-footer {
  border: none;
  background-color: #ffffff;
}
